#generate-qr {
    height: 50px;
    width: 100px;
}

.spacer-10 {
    height: 10px;
}

.hidden {
    display: none;
}

#qr-placeholder {
    width: 246px;
    height: 246px;
}

#userEmail {
    width: 266px;
}
